*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;  
}
.container{
  width: 100%;
  min-height: 100vh;
  padding: 30px 10%;
}
.container .skill-title{
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
}
.container .skill-title h1{
  position: relative;
  font-size: 40px;
  color: #242223;
  margin-bottom: 30px;
  display: inline-block;
}
